{% extends "base.html" %}
{% block content %}
  <div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
          <div class="alert alert-success" role="alert">
            {% for message in messages %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Success:</span>
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <div class="panel">
        <div class="panel-heading">
          <h3>Appointments</h3>
        </div>

        <div class="panel-body">
          <div class="col-md-12">
                  <div class="panel box-v4">
                      <div class="panel-heading bg-white border-none">
                        <h4><span class="icon-notebook icons"></span> Agenda</h4>
                      </div>
                      <div class="panel-body padding-0">
                          <div class="calendar">

                          </div>
                      </div>
                  </div>
              </div>
          <div class="responsive-table">
            <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Reg. No.</th>
                  <th>Patient</th>
                  <th>Patient Mobile Number</th>
                  <th>Delete</th>
                </tr>
              </thead>
            </table>
          </div>
      </div>
    </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <!-- plugins -->
  <script src="/js/plugins/moment.min.js"></script>
  <script src="/js/plugins/jquery.datatables.min.js"></script>
  <script src="/js/plugins/datatables.bootstrap.min.js"></script>
  <script src="/js/plugins/jquery.nicescroll.js"></script>


  <!-- custom -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('#datatables-example').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "/appointmentsJson"
      });

      // start: Calendar =========
      $('.dashboard .calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaDay',
        businessHours: false, // display business hours
        editable: false,
        events: '/appointmentsCalendarJson'
      });
        // end : Calendar==========
    });
  </script>
  <!-- end: Javascript -->
{% endblock %}