<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="description" content="Centre for Chest Diseases, Allergy and Sleep Disorders - Clinic Manager">
	<meta name="author" content="Dhruv Arya">
	<meta name="keyword" content="clinic, manager, chest diseases, allergy">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Centre for Chest Diseases, Allergy and Sleep Disorders - Homepage</title>

  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <!-- plugins -->
  <link rel="stylesheet" type="text/css" href="/css/plugins/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/plugins/simple-line-icons.css"/>
  <link rel="stylesheet" type="text/css" href="/css/plugins/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/plugins/fullcalendar.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/plugins/bootstrap-material-datetimepicker.css"/>
  <link rel="stylesheet" type="text/css" href="/css/plugins/dropzone.css"/>

  <link href="/css/style.css" rel="stylesheet">
  <!-- end: Css -->

  <link rel="shortcut icon" href="/img/logomi.png">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

 <body id="mimin" class="dashboard">
      <!-- start: Header -->
        <nav class="navbar navbar-default header navbar-fixed-top">
          <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
              <a href="/" class="navbar-brand">
               <b>Clinic Manager</b>
              </a>

              <ul class="nav navbar-nav navbar-right user-nav">
                <a href="/logout"><li class="user-name"><span>Logout</span></li></a>
              </ul>
            </div>
          </div>
        </nav>
      <!-- end: Header -->

      <div class="container-fluid mimin-wrapper">

          <!-- start:Left Menu -->
            <div id="left-menu">
              <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                      <h3 class="container col-md-12 animated fadeInLeft">Centre for Chest Diseases, Allergy and Sleep Disorders</h3>
                      <p class="animated fadeInRight">Clinic Management Tool</p>
                    </li>
                    <li class="{{ home_active }} ripple">
                      <a href="/" class="tree-toggle nav-header"><span class="fa-home fa"></span> Dashboard
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                    </li>
                    <li class="{{ patients_active }} ripple">
                      <a href="/patients" class="tree-toggle nav-header">
                        <span class="fa-users fa"></span> Patients
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                    </li>
                    <li class="{{ appointments_active }} ripple">
                      <a class="tree-toggle nav-header" href="/appointments">
                        <span class="fa-user-md fa"></span> Appointments
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                    </li>
                    <li class="{{ treatments_active }} ripple">
                      <a class="tree-toggle nav-header" href="/treatments">
                        <span class="fa-medkit fa"></span> Treatments
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
          <!-- end: Left Menu -->


          <!-- start: content -->
            <div id="content">
                {% block content %}{% endblock %}
      		  </div>
          <!-- end: content -->
      </div>

    <!-- start: Javascript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- plugins -->
    <script src="/js/plugins/moment.min.js"></script>
    <script src="/js/plugins/fullcalendar.min.js"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>