{% extends "base.html" %}
{% block content %}

      <div class="col-md-12" style="padding:20px;">
          <div class="col-md-4 padding-0">
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
              {% if messages %}
                <div class="alert alert-danger" role="alert">
                  {% for message in messages %}
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ message }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["success"]) %}
              {% if messages %}
                <div class="alert alert-success" role="alert">
                  {% for message in messages %}
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Success:</span>
                    {{ message }}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
                  <div class="col-md-12">
                      <div class="panel box-v1">
                        <div class="panel-heading bg-white border-none">
                          <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                            <h4 class="text-left">Appointments Today</h4>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                             <h4>
                             <span class="fa-user-md fa text-right"></span>
                             </h4>
                          </div>
                        </div>
                        <div class="panel-body text-center">
                          <a href="/appointments">
                            <h1>{{ appointments_today }}</h1>
                            <p>Appointments</p>
                          </a>
                          <hr/>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="panel box-v1">
                        <div class="panel-heading bg-white border-none">
                          <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                            <h4 class="text-left">Patients</h4>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                             <h4>
                             <span class="fa-users fa text-right"></span>
                             </h4>
                          </div>
                        </div>
                        <div class="panel-body text-center">
                          <a href="/patients">
                            <h1>{{ patient_count }}</h1>
                            <p>Patients</p>
                          </a>
                          <hr/>
                        </div>
                      </div>
                  </div>
          </div>
          <div class="col-md-8">
                  <div class="panel box-v4">
                      <div class="panel-heading bg-white border-none">
                        <h4><span class="icon-notebook icons"></span> Agenda</h4>
                      </div>
                      <div class="panel-body padding-0">
                          <div class="calendar">

                          </div>
                      </div>
                  </div>
              </div>
      </div>
{% endblock %}

{% block scripts %}

    <!-- custom -->
     <script type="text/javascript">
      (function(jQuery){

        // start: Calendar =========
      $('.dashboard .calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaDay',
        businessHours: false, // display business hours
        editable: false,
        events: '/appointmentsCalendarJson'
      });
        // end : Calendar==========

      })(jQuery);
     </script>
  <!-- end: Javascript -->
{% endblock %}