{% extends "base.html" %}
{% block content %}

  <div class="panel box-shadow-none content-header">
    <div class="panel-body">
      <div class="col-md-12">
          <h3 class="animated fadeInLeft">Appointments</h3>
      </div>
    </div>
  </div>
  <div class="form-element">
    <div class="col-md-12">
        <div class="col-md-12 panel">
          <div class="col-md-12 panel-heading">
            <h4>Appointment Information</h4>
          </div>
          <div class="col-md-12 panel-body" style="padding-bottom:30px;">
            <div class="col-md-12">
              <form class="cmxform" id="signupForm" method="post" action="/newAppointment/{{ patient_id }}" novalidate="novalidate">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" id="validate_firstname" name="patientName"
                           value="{{ patient_name }}" aria-required="true">
                    <span class="bar"></span>
                    <label>Patient Name</label>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text" id="validate_lastname" name="patientMobileNumber"
                           required="{{ patient_mobile_number }}" aria-required="true">
                    <span class="bar"></span>
                    <label>Contact Information</label>
                  </div>

                  <div class="form-group form-animate-text">
                    <input type="text" name="appointmentDateTime" autocomplete="off" class="form-text datetime" required>
                    <span class="bar"></span>
                    <label><span class="fa fa-calendar"></span> Date and Time</label>
                  </div>

                  {% if treatments %}
                    <div class="form-group">
                      <span class="bar"></span>
                      <label><span class="fa fa-4 fa-plus"></span> Treatment</label>
                      <select name="treatmentId" class="form-control">
                        {% for treatment in treatments %}
                          <option value="{{ treatment.id }}">{{ treatment.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  {% endif %}


                  <div class="form-group form-animate-text">
                    <input type="hidden" name="patientId" class="form-text datetime" autocomplete="off" value="{{ patient_id }}">
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-12">
                    <input class="submit btn btn-danger" type="submit" value="Confirm Appointment">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}


<!-- plugins -->
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/bootstrap-material-datetimepicker.js"></script>
<script src="/js/plugins/jquery.nicescroll.js"></script>
<script src="/js/plugins/jquery.validate.min.js"></script>


<!-- custom -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.datetime').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm',animation:true});
  });
</script>
<!-- end: Javascript -->
{% endblock %}