{% extends "base.html" %}
{% block content %}
  <div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
          <div class="alert alert-success" role="alert">
            {% for message in messages %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Success:</span>
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <div class="panel">
        <div class="panel-heading">
          <h3>Patients</h3>
          <a href="#" data-toggle="modal" data-target="#patientModal"
             class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New</a>
        </div>


        <div class="panel-body">
          <div class="responsive-table">
          <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Reg. No.</th>
                  <th>Name</th>
                  <th>Mobile No.</th>
                  <!-- <th>Contact No.</th> -->
                  <th>Email</th>
                  <!-- <th>Gender</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Country</th>
                  <th>Pincode</th>
                  <th>Dob</th>
                  <th>Blood Group</th> -->
                  <th>Edit</th>
                  <th>Delete</th>
                  <th>Appointment</th>
                </tr>
              </thead>
            </table>
          </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="patientModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="patientModalLabel">Add/Edit Patient</h4>
        </div>
        <div class="modal-body">
          <form action="/patient" method="post">
            <div class="form-group">
              <label for="patientNumber">Registration No.</label>
              <input name="patientNumber" type="text" class="form-control" id="patientNumber" autocomplete="off" placeholder="Patient Number" required>
            </div>


            <div class="form-group">
              <label for="patientName">Name</label>
              <input name="patientName" type="text" class="form-control" id="patientName" autocomplete="off" placeholder="Patient Name">
            </div>

            <div class="form-group">
              <label for="mobileNumber">Mobile Number</label>
              <input name="mobileNumber" type="tel" class="form-control" id="mobileNumber" autocomplete="off" placeholder="Mobile Number">
            </div>

            <div class="form-group">
              <label for="contactNumber">Contact Number</label>
              <input name="contactNumber" type="tel" class="form-control" id="contactNumber" autocomplete="off" placeholder="Contact Number">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" id="email" autocomplete="off" placeholder="Email">
            </div>

            <div class="form-group">
              <label>Gender</label>
              <label class="radio-inline">
                <input type="radio" name="genderOptions" id="maleRadio" value="M"> Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="genderOptions" id="femaleRadio" value="F"> Female
              </label>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input name="address" type="text" class="form-control" id="address" autocomplete="off" placeholder="Local Address">
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input name="city" type="text" class="form-control" id="city" autocomplete="off" placeholder="City">
            </div>

            <div class="form-group">
              <label for="country">City</label>
              <input name="country" type="text" class="form-control" id="country" autocomplete="off" placeholder="Country">
            </div>

            <div class="form-group">
              <label for="pincode">Pincode</label>
              <input name="pincode" type="text" class="form-control" id="pincode" autocomplete="off" placeholder="Pincode">
            </div>

            <!-- <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input name="dob" type="datetime" class="form-control" id="dob" placeholder="Date of Birth">
            </div> -->

            <div class="form-group">
              <label for="age">Age</label>
              <input name="age" type="number" class="form-control" id="age" autocomplete="off" placeholder="Age">
            </div>

            <!-- <div class="form-group">
              <label for="bloodgroup">Blood Group</label>
              <select class="form-control" name="bloodgroup" id="bloodgroup">
                <option value="AB-">AB-</option>
                <option value="AB+">AB+</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
            </div> -->

            <div class="form-group">
              <input name="pid" id="pid" type="hidden" class="form-control" value="-1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- plugins -->
  <script src="js/plugins/moment.min.js"></script>
  <script src="js/plugins/jquery.datatables.min.js"></script>
  <script src="js/plugins/datatables.bootstrap.min.js"></script>
  <script src="js/plugins/jquery.nicescroll.js"></script>


  <!-- custom -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('#datatables-example').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "/patientsJson"
      });
    });

    $('#patientModal').on('show.bs.modal', function(e) {

        var $modal = $(this),
        pid = e.relatedTarget.id;

        $.ajax({
            cache: false,
            type: 'GET',
            url: '/getPatient/' + pid,
            success: function(data) {
                data = JSON.parse(data);
                $modal.find('#patientNumber').val(data['patient_number']);
                $modal.find('#patientName').val(data['name']);
                $modal.find('#mobileNumber').val(data['mobile_number']);
                $modal.find('#contactNumber').val(data['contact_number']);
                $modal.find('#email').val(data['email_address']);

                if (data['gender'] == 'M') {
                  $modal.find('#maleRadio').attr('checked', true);
                } else {
                  $modal.find('#femaleRadio').attr('checked', true);
                }

                $modal.find('#address').val(data['address']);
                $modal.find('#city').val(data['city']);
                $modal.find('#country').val(data['country']);
                $modal.find('#pincode').val(data['pincode']);
                $modal.find('#dob').val(data['dob']);
                $modal.find('#bloodgroup').val(data['blood_group']);
                $modal.find('#pid').val(data['pid']);

            }
        });
    })
  </script>
  <!-- end: Javascript -->
{% endblock %}