{% extends "base.html" %}
{% block content %}

  <!-- start: Content -->
  <div class="profile-v1 container-fluid">
    <div class="col-md-12 col-sm-12 profile-v1-wrapper">
      <div class="col-md-9  profile-v1-cover-wrap" style="padding-right:0px;">
          <div class="profile-v1-pp">
            <h2>{{ patient.name }}</h2>
          </div>
          <div class="col-md-12 profile-v1-cover">
            <img src="/img/bg1.jpg" class="img-responsive">
          </div>
      </div>
      <div class="col-md-3 col-sm-12 padding-0 profile-v1-right">
          <div class="col-md-6 col-sm-4 profile-v1-right-wrap padding-0">
            <div class="col-md-12 padding-0 sub-profile-v1-right text-center sub-profile-v1-right1">
                <!-- <h1>51K</h1>
                <p>Treatments</p> -->
            </div>
          </div>
          <div class="col-md-6 col-sm-4 profile-v1-right-wrap padding-0">
              <div class="col-md-12 sub-profile-v1-right text-center sub-profile-v1-right2">
                 <h1>{{ total_visits }}</h1>
                 <p>Total Visits</p>
              </div>
          </div>
          <div class="col-md-12 col-sm-4 profile-v1-right-wrap padding-0">
              <div class="col-md-12 sub-profile-v1-right text-center sub-profile-v1-right3">
                <h3>{{ last_visit_date }}</h3>
                <p>Last Visited</p>
              </div>
          </div>
      </div>
   </div>

    <div class="col-md-12 top-20 padding-0">
      <div class="panel">
        <div class="panel-heading">
          <h3>Patient Information</h3>
        </div>

        <div class="panel-body">
          <div class="col-md-12">
              <div class="panel box-v4">
                  <div class="panel-body padding-0">
                      <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Reg. No.</th>
                          <th>Mobile No.</th>
                          <th>Address</th>
                          <th>Age</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>{{ patient.patient_number }}</td>
                            <td>{{ patient.mobile_number }}</td>
                            <td>{{ patient.address }}, {{ patient.city }}, {{ patient.country }}</td>
                            <td>{{ patient.dob|agefromdob }} years</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
      <div class="col-md-12 tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tabs-area-demo" aria-labelledby="tabs1">
            <div class="col-md-12">
            <div class="col-md-12">
              <div class="col-md-12 tabs-area">
                <ul id="tabs-demo6" class="nav nav-tabs nav-tabs-v6" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#tabs-demo7-area1" id="tabs-demo6-1" role="tab" data-toggle="tab" aria-expanded="true">Appointments and Prescriptions</a>
                  </li>
                </ul>
                <div id="tabsDemo6Content" class="tab-content tab-content-v6 col-md-12">
                  <div role="tabpanel" class="tab-pane fade active in" id="tabs-demo7-area1" aria-labelledby="tabs-demo7-area1">
                    <div class="col-md-12">
                      <div class="panel">
                        <div class="panel-heading">
                          <h3>Past Appointments</h3>
                        </div>

                        <div class="panel-body">
                          <div class="col-md-12">
                            <div class="panel box-v4">
                                <div class="panel-body padding-0">
                                  <div class="responsive-table">
                                    <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                      <thead>
                                        <tr>
                                          <th>Date</th>
                                          <th>Treatment</th>
                                          <th>Prescription</th>
                                        </tr>
                                      </thead>
                                    </table>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: content -->

  <!-- Prescription Modal -->
  <div class="modal fade" id="prescriptionModal" tabindex="-1" role="dialog" aria-labelledby="prescriptionModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="prescriptionModalLabel">Add Prescription</h4>
        </div>
        <form id="prescription-upload" action="" method="post" enctype=multipart/form-data>
          <div class="modal-body">
              <div class="col-lg-12">
                  <div class="input-group fileupload-v1">
                      <input type="file" name="prescription_file" class="fileupload-v1-file hidden">
                      <input type="text" class="form-control fileupload-v1-path" placeholder="File Path..." disabled="">
                      <span class="input-group-btn">
                        <button class="btn fileupload-v1-btn" type="button"><i class="fa fa-folder"></i> Choose File</button>
                      </span>
                  </div><!-- /input-group -->
              </div>
          </div>
          <div class="modal-footer">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}

<!-- start: Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/dropzone.js"></script>
<script src="/js/plugins/jquery.nicescroll.js"></script>
<script src="/js/plugins/jquery.datatables.min.js"></script>
<script src="/js/plugins/datatables.bootstrap.min.js"></script>


<!-- custom -->
<script type="text/javascript">
  $(document).ready(function(){
   $('#datatables-example').DataTable({
     "processing": true,
     "serverSide": true,
     "ajax": "/patientsAppointmentsJson/{{ patient.id }}"
   });

  $(".fileupload-v1-btn").on("click",function(){
      var wrapper = $(this).parent("span").parent("div");
      var path    = wrapper.find($(".fileupload-v1-path"));
      $(".fileupload-v1-file").click();
      $(".fileupload-v1-file").on("change",function(){
          path.attr("placeholder",$(this).val());
      });
  });


   $('#prescriptionModal').on('show.bs.modal', function(e) {
        var $modal = $(this),
        aid = e.relatedTarget.id;
        $('#prescription-upload').attr('action', '/prescriptionUpload/{{ patient.id }}/' + aid)
    })
  });
</script>
{% endblock %}