<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="Miminium Admin Template v.1">
  <meta name="author" content="Isna Nur Azis">
  <meta name="keyword" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }}</title>

  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

  <!-- plugins -->
  <link rel="stylesheet" type="text/css" href="css/plugins/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/plugins/simple-line-icons.css"/>
  <link rel="stylesheet" type="text/css" href="css/plugins/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/plugins/icheck/skins/flat/aero.css"/>
  <link href="css/style.css" rel="stylesheet">
  <!-- end: Css -->

  <link rel="shortcut icon" href="img/logomi.png">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body id="mimin" class="dashboard form-signin-wrapper">

      <div class="container">

        <form class="form-signin" action="/register" method="post">
          <div class="panel periodic-login">
              <div class="panel-body text-center">
                  <!-- <h4 class="atomic-symbol">{{ screen_title }}</h4> -->
                  <p class="atomic-mass">Centre for Chest Diseases, Allergy and Sleep Disorders</p>
                  <br>
                  <p class="element-name">Registration</p>

                <i class="icons icon-arrow-down"></i>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input name="username" type="text" class="form-text" required>
                    <span class="bar"></span>
                    <label>Username</label>
                  </div>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input name="email" type="text" class="form-text" required>
                    <span class="bar"></span>
                    <label>Email</label>
                  </div>
                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input name="password" type="password" class="form-text" required>
                    <span class="bar"></span>
                    <label>Password</label>
                  </div>
                  <input type="submit" class="btn col-md-12" value="SignUp"/>
              </div>
                <div class="text-center" style="padding:5px;">
                    <a href="login.html">Already have an account?</a>
                </div>
          </div>
        </form>

      </div>

      <!-- end: Content -->
      <!-- start: Javascript -->
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery.ui.min.js"></script>
      <script src="js/bootstrap.min.js"></script>

      <script src="js/plugins/moment.min.js"></script>
      <script src="js/plugins/icheck.min.js"></script>

      <!-- custom -->
      <script src="js/main.js"></script>
      <script type="text/javascript">
       $(document).ready(function(){
         $('input').iCheck({
          checkboxClass: 'icheckbox_flat-aero',
          radioClass: 'iradio_flat-aero'
        });
       });
     </script>
     <!-- end: Javascript -->
   </body>
   </html>