{% extends "base.html" %}
{% block content %}
  <div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
          <div class="alert alert-success" role="alert">
            {% for message in messages %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Success:</span>
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      <div class="panel">
        <div class="panel-heading">
          <h3>Treatments</h3>
          <a href="#" data-toggle="modal" data-target="#treatmentModal"
             class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add New</a>
        </div>


        <div class="panel-body">
          <div class="responsive-table">
          <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Cost</th>
              <th>Notes</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for treatment in treatments_data %}
            <tr>
              <td>{{ treatment.name }}</td>
              <td>{{ treatment.cost }}</td>
              <td>{{ treatment.notes }}</td>
              <td><a href="#" data-toggle="modal" data-target="#treatmentModal" id="{{ treatment.id }}"
                     class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
              <td><a href="/deleteTreatment/{{ treatment.id }}" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
          </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="treatmentModal" tabindex="-1" role="dialog" aria-labelledby="treatmentModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="treatmentModalLabel">Add Treatment</h4>
        </div>
        <div class="modal-body">
          <form action="/treatment" method="post">
            <div class="form-group">
              <label for="treatmentName">Name</label>
              <input name="treatmentName" type="text" class="form-control" id="treatmentName" placeholder="Treatment Name">
            </div>
            <div class="form-group">
              <label for="cost">Amount (in rupees)</label>
              <div class="input-group">
                <div class="input-group-addon">₹</div>
                <input name="cost" type="text" class="form-control" id="cost" placeholder="Cost of treatment">
                <div class="input-group-addon">.00</div>
              </div>
            </div>
            <div class="form-group">
              <label for="notes">Notes</label>
              <input name="notes" type="text" class="form-control" id="notes" placeholder="Notes for the treatment">
            </div>
            <div class="form-group">
              <input name="type" type="hidden" class="form-control" value="add">
            </div>
            <div class="form-group">
              <input name="tid" id="tid" type="hidden" class="form-control" value="-1">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- plugins -->
  <script src="js/plugins/moment.min.js"></script>
  <script src="js/plugins/jquery.datatables.min.js"></script>
  <script src="js/plugins/datatables.bootstrap.min.js"></script>
  <script src="js/plugins/jquery.nicescroll.js"></script>


  <!-- custom -->
  <script type="text/javascript">
    $(document).ready(function(){
      $('#datatables-example').DataTable();
    });

    $('#treatmentModal').on('show.bs.modal', function(e) {

        var $modal = $(this),
        tid = e.relatedTarget.id;

        $.ajax({
            cache: false,
            type: 'GET',
            url: '/getTreatment/' + tid,
            success: function(data) {
                data = JSON.parse(data);
                $modal.find('#treatmentName').val(data['name']);
                $modal.find('#cost').val(data['cost']);
                $modal.find('#notes').val(data['notes']);
                $modal.find('#tid').val(data['tid']);
            }
        });
    })
  </script>
  <!-- end: Javascript -->
{% endblock %}